@charset "UTF=8";

@font-face {
    font-family: 'font';
    src: url(fontes/Kadwa-Regular.ttf)
}


body {
    background-color: #a9f1e5;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5;
    width: 60%;
    margin: 0 auto; 
    padding: 2% 0; 
}


h1, h2 {
    font-family: 'Ubuntu', sans-serif;
    color: rgb(140, 76, 8);
}

section {
    margin-top: 0px;
    padding-bottom: 5px;
    border-top: solid 1px gray;
}

main {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 35px;
}